services:
  postgres:
    image: postgres:18
    restart: always
    container_name: postgres-18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: book_management
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
volumes:
  postgres-data:
